
.contact-card {
  margin: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.75);
  margin-bottom: 1%;
  background: #555;
  line-height: 1.5;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}

.contact-card:hover .photo1 {
  transform: scale(1.1) rotate(15deg);
}

.contact-card .photo1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: 80%;
  background-position: center;
  transition: transform 1s;
}

.contact-card .meta {
  position: relative;
  z-index: 0;
  height: 250px;
}

.contact-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left .5s;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  width: 100%;
}
.contact-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}

.contact-card .description H1 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  margin-top: 5px;
}

.contact-card .description h1{
  font-family: Poppins, sans-serif;
}
.contact-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}


.contact-card .description p {
  font-size: 1rem;
  font-weight: 50;
  color: #000;
  margin-top: 5px;
}

.contact-card p {
  position: relative;
  margin: 1rem 0 0;
}
.contact-card p:first-of-type {
  margin-top: 1.25rem;
}
.contact-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 7px;
  background: #ff0000;
  width: 35%;
  top: -0.75rem;
  border-radius: 5px;
}

.contact-card:hover .details {
  left: 0%;
}
@media (min-width: 640px) {
  .contact-card {
    flex-direction: row;
    max-width: 700px;
  }
  .contact-card .meta {
    flex-basis: 40%;
    height: auto;
  }
  .contact-card .description {
    flex-basis: 60%;
  }
  .contact-card .description:before {
    transform: skewX(-10deg);
    content: "";
    background: #fff;
    width: 35px;
    position: absolute;
    left: -17px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .contact-card.alt {
    flex-direction: row-reverse;
  }
  .contact-card.alt .description:before {
    left: inherit;
    right: -17px;
    transform: skew(10deg);
  }
}