@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import url("https://fonts.googleapis.com/css?family=Lato:200,300,400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:200,400,400i,700");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html { scroll-behavior: smooth;}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 300;
}
:root {
    --MainColor: #0050ff;
    --c-white: #fff;
    --c-black: #000;
    --c-charcoal: #3c3c3c;
    --c-inner: #edecff;
    --c-check: #1fca58;
}

body{
    overflow-x: hidden;
    background-color: #fff;
}

nav{
    height: 5rem;
    width: 100%;
    background-color: #131418;
    display: flex;
    position: fixed;
    z-index: 10;
}

/* Styles */

.top{
    height: 2.75rem;
    background-color: #333333;
}
.devider{
    position: relative;
    min-height: 0.75rem;
    background-color: #333;
}
.body1 {
    justify-content: center;
    display: flex;
    height: 95vh;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
}
.body2 {
    background-color: #eee;
    height: 50vh auto;
}
.body3 {
    height: 100vh auto;
}
.text{
    position: absolute;
    justify-content: center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
}
.text:hover{
    padding-top: 15px;
}
.text h1 {
    color: #fff;
    font-size: 65px;
    font-weight: bold;
    text-transform: uppercase;
} 
.text h1:hover{
    color: var(--MainColor);
}
.text p {
    margin-top: 5px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    transition: all 0.5s ease;
}
.text p:hover{
    color: var(--MainColor);
}


/*Om mig*/

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
    width: 100%;
    max-width: 100%;
    margin: 0vh auto;
    padding: 50px
}

.card {
    border-radius: 16px;
    box-shadow: 0 30px 30px -25px rgba(65, 51, 183, 0.25);
    max-width: 600px;
}

.information {
    background-color: var(--c-white);
    padding: 1.5rem;
}
.information .title {
    font-size: 1.5rem;
    color: var(--c-black);
    line-height: 1.25;
    text-align: center;
}
.information .title + * {
    margin-top: 1rem;
}
.information .info {
    color: var(--c-charcoal);
}
.information .info + * {
    margin-top: 1.25rem;
}

.skills {
    padding: 10px;
    background-color: var(--c-white);
    color: var(--c-charcoal);
}
.skills strong {
    font-weight: 600;
    color: var(--c-black);
}
.skills .inner {
    padding: 20px;
    background-color: var(--c-inner);
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}
.skills .title {
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--c-black);
}
.skills .title + * {
    margin-top: 0.75rem;
}
.skills .info + * {
    margin-top: 1rem;
}
.skills .features {
    display: flex;
    flex-direction: column;
}
.skills .features li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.skills .features li + * {
    margin-top: 0.75rem;
}
.skills .features .icon {
    background-color: var(--c-check);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--c-white);
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.skills .features .icon svg {
    width: 14px;
    height: 14px;
}
.skills .features + * {
    margin-top: 1.25rem;
}
.skills .elaborate {
    color: #000;
    padding-left: 25px;
    padding-bottom: 20px;
}


/* Nav */
.nav-links{
    display: flex;
    list-style: none; 
    width: 100%;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}
.nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
}
.nav-links li a:hover {
    color: var(--MainColor);
}
.nav-links li {
    position: relative;
}
.nav-links li a::before {
    content: "";
    display: block;
    height: 20%;
    width: 0%;
    background-color: var(--MainColor);
    position: absolute;
    transition: all ease-in-out 0.5s;
    margin: 30% 0 0 10%;
}
.nav-links li a:hover::before{
    width: 80%;
}
/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}
/*Stying for small screens*/
@media screen and (max-width: 775px){
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: rgba(0, 0, 0, 0.95);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}


/* Footer */
.container2{
	max-width: 80%;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='800' preserveAspectRatio='none' viewBox='0 0 1920 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1075%26quot%3b)' fill='none'%3e%3crect width='1920' height='800' x='0' y='0' fill='url(%23SvgjsLinearGradient1076)'%3e%3c/rect%3e%3cpath d='M62.31 -11.15L119.47 21.85L119.47 87.85L62.31 120.85L5.15 87.85L5.15 21.85zM119.47 285.85L176.63 318.85L176.63 384.85L119.47 417.85L62.31 384.85L62.31 318.85zM62.31 384.85L119.47 417.85L119.47 483.85L62.31 516.85L5.15 483.85L5.15 417.85zM119.47 483.85L176.63 516.85L176.63 582.85L119.47 615.85L62.31 582.85L62.31 516.85zM176.63 582.85L233.79 615.85L233.79 681.85L176.63 714.85L119.47 681.85L119.47 615.85zM290.95 -11.15L348.11 21.85L348.11 87.85L290.95 120.85L233.79 87.85L233.79 21.85zM290.95 186.85L348.11 219.85L348.11 285.85L290.95 318.85L233.79 285.85L233.79 219.85zM290.95 582.85L348.11 615.85L348.11 681.85L290.95 714.85L233.79 681.85L233.79 615.85zM462.43 681.85L519.58 714.85L519.58 780.85L462.43 813.85L405.27 780.85L405.27 714.85zM519.58 186.85L576.74 219.85L576.74 285.85L519.58 318.85L462.43 285.85L462.43 219.85zM691.06 681.85L748.22 714.85L748.22 780.85L691.06 813.85L633.9 780.85L633.9 714.85zM862.54 -11.15L919.7 21.85L919.7 87.85L862.54 120.85L805.38 87.85L805.38 21.85zM919.7 483.85L976.86 516.85L976.86 582.85L919.7 615.85L862.54 582.85L862.54 516.85zM1034.02 285.85L1091.18 318.85L1091.18 384.85L1034.02 417.85L976.86 384.85L976.86 318.85zM976.86 582.85L1034.02 615.85L1034.02 681.85L976.86 714.85L919.7 681.85L919.7 615.85zM1205.5 384.85L1262.66 417.85L1262.66 483.85L1205.5 516.85L1148.34 483.85L1148.34 417.85zM1262.66 681.85L1319.81 714.85L1319.81 780.85L1262.66 813.85L1205.5 780.85L1205.5 714.85zM1491.29 87.85L1548.45 120.85L1548.45 186.85L1491.29 219.85L1434.13 186.85L1434.13 120.85zM1548.45 186.85L1605.61 219.85L1605.61 285.85L1548.45 318.85L1491.29 285.85L1491.29 219.85zM1605.61 483.85L1662.77 516.85L1662.77 582.85L1605.61 615.85L1548.45 582.85L1548.45 516.85zM1548.45 780.85L1605.61 813.85L1605.61 879.85L1548.45 912.85L1491.29 879.85L1491.29 813.85zM1719.93 681.85L1777.09 714.85L1777.09 780.85L1719.93 813.85L1662.77 780.85L1662.77 714.85zM1777.09 -11.15L1834.25 21.85L1834.25 87.85L1777.09 120.85L1719.93 87.85L1719.93 21.85zM1834.25 87.85L1891.41 120.85L1891.41 186.85L1834.25 219.85L1777.09 186.85L1777.09 120.85zM1777.09 186.85L1834.25 219.85L1834.25 285.85L1777.09 318.85L1719.93 285.85L1719.93 219.85zM1948.57 87.85L2005.73 120.85L2005.73 186.85L1948.57 219.85L1891.41 186.85L1891.41 120.85z' stroke='url(%23SvgjsLinearGradient1077)' stroke-width='2'%3e%3c/path%3e%3cpath d='M8.38 244.45L33.5 258.95L33.5 287.95L8.38 302.45L-16.74 287.95L-16.74 258.95zM8.38 505.45L33.5 519.95L33.5 548.95L8.38 563.45L-16.74 548.95L-16.74 519.95zM33.5 548.95L58.61 563.45L58.61 592.45L33.5 606.95L8.38 592.45L8.38 563.45zM58.61 70.45L83.73 84.95L83.73 113.95L58.61 128.45L33.5 113.95L33.5 84.95zM58.61 157.45L83.73 171.95L83.73 200.95L58.61 215.45L33.5 200.95L33.5 171.95zM83.73 461.95L108.84 476.45L108.84 505.45L83.73 519.95L58.61 505.45L58.61 476.45zM108.84 70.45L133.96 84.95L133.96 113.95L108.84 128.45L83.73 113.95L83.73 84.95zM133.96 113.95L159.07 128.45L159.07 157.45L133.96 171.95L108.84 157.45L108.84 128.45zM133.96 635.95L159.07 650.45L159.07 679.45L133.96 693.95L108.84 679.45L108.84 650.45zM159.07 592.45L184.19 606.95L184.19 635.95L159.07 650.45L133.96 635.95L133.96 606.95zM234.42 200.95L259.53 215.45L259.53 244.45L234.42 258.95L209.3 244.45L209.3 215.45zM234.42 461.95L259.53 476.45L259.53 505.45L234.42 519.95L209.3 505.45L209.3 476.45zM209.3 505.45L234.42 519.95L234.42 548.95L209.3 563.45L184.19 548.95L184.19 519.95zM209.3 679.45L234.42 693.95L234.42 722.95L209.3 737.45L184.19 722.95L184.19 693.95zM209.3 766.45L234.42 780.95L234.42 809.95L209.3 824.45L184.19 809.95L184.19 780.95zM259.53 418.45L284.65 432.95L284.65 461.95L259.53 476.45L234.42 461.95L234.42 432.95zM259.53 679.45L284.65 693.95L284.65 722.95L259.53 737.45L234.42 722.95L234.42 693.95zM334.88 548.95L360 563.45L360 592.45L334.88 606.95L309.77 592.45L309.77 563.45zM385.11 26.95L410.23 41.45L410.23 70.45L385.11 84.95L360 70.45L360 41.45zM360 592.45L385.11 606.95L385.11 635.95L360 650.45L334.88 635.95L334.88 606.95zM385.11 635.95L410.23 650.45L410.23 679.45L385.11 693.95L360 679.45L360 650.45zM435.34 113.95L460.46 128.45L460.46 157.45L435.34 171.95L410.23 157.45L410.23 128.45zM410.23 157.45L435.34 171.95L435.34 200.95L410.23 215.45L385.11 200.95L385.11 171.95zM510.69 157.45L535.8 171.95L535.8 200.95L510.69 215.45L485.57 200.95L485.57 171.95zM535.8 548.95L560.92 563.45L560.92 592.45L535.8 606.95L510.69 592.45L510.69 563.45zM560.92 -16.55L586.04 -2.05L586.04 26.95L560.92 41.45L535.8 26.95L535.8 -2.05zM586.04 548.95L611.15 563.45L611.15 592.45L586.04 606.95L560.92 592.45L560.92 563.45zM636.27 287.95L661.38 302.45L661.38 331.45L636.27 345.95L611.15 331.45L611.15 302.45zM636.27 374.95L661.38 389.45L661.38 418.45L636.27 432.95L611.15 418.45L611.15 389.45zM611.15 505.45L636.27 519.95L636.27 548.95L611.15 563.45L586.04 548.95L586.04 519.95zM636.27 548.95L661.38 563.45L661.38 592.45L636.27 606.95L611.15 592.45L611.15 563.45zM661.38 592.45L686.5 606.95L686.5 635.95L661.38 650.45L636.27 635.95L636.27 606.95zM686.5 722.95L711.61 737.45L711.61 766.45L686.5 780.95L661.38 766.45L661.38 737.45zM711.61 418.45L736.73 432.95L736.73 461.95L711.61 476.45L686.5 461.95L686.5 432.95zM711.61 592.45L736.73 606.95L736.73 635.95L711.61 650.45L686.5 635.95L686.5 606.95zM736.73 635.95L761.84 650.45L761.84 679.45L736.73 693.95L711.61 679.45L711.61 650.45zM711.61 766.45L736.73 780.95L736.73 809.95L711.61 824.45L686.5 809.95L686.5 780.95zM786.96 200.95L812.07 215.45L812.07 244.45L786.96 258.95L761.84 244.45L761.84 215.45zM812.07 70.45L837.19 84.95L837.19 113.95L812.07 128.45L786.96 113.95L786.96 84.95zM862.31 244.45L887.42 258.95L887.42 287.95L862.31 302.45L837.19 287.95L837.19 258.95zM862.31 331.45L887.42 345.95L887.42 374.95L862.31 389.45L837.19 374.95L837.19 345.95zM862.31 418.45L887.42 432.95L887.42 461.95L862.31 476.45L837.19 461.95L837.19 432.95zM887.42 635.95L912.54 650.45L912.54 679.45L887.42 693.95L862.31 679.45L862.31 650.45zM937.65 26.95L962.77 41.45L962.77 70.45L937.65 84.95L912.54 70.45L912.54 41.45zM937.65 113.95L962.77 128.45L962.77 157.45L937.65 171.95L912.54 157.45L912.54 128.45zM912.54 679.45L937.65 693.95L937.65 722.95L912.54 737.45L887.42 722.95L887.42 693.95zM962.77 70.45L987.88 84.95L987.88 113.95L962.77 128.45L937.65 113.95L937.65 84.95zM987.88 113.95L1013 128.45L1013 157.45L987.88 171.95L962.77 157.45L962.77 128.45zM962.77 244.45L987.88 258.95L987.88 287.95L962.77 302.45L937.65 287.95L937.65 258.95zM962.77 418.45L987.88 432.95L987.88 461.95L962.77 476.45L937.65 461.95L937.65 432.95zM962.77 679.45L987.88 693.95L987.88 722.95L962.77 737.45L937.65 722.95L937.65 693.95zM1013 70.45L1038.11 84.95L1038.11 113.95L1013 128.45L987.88 113.95L987.88 84.95zM1013 244.45L1038.11 258.95L1038.11 287.95L1013 302.45L987.88 287.95L987.88 258.95zM1038.11 461.95L1063.23 476.45L1063.23 505.45L1038.11 519.95L1013 505.45L1013 476.45zM1063.23 244.45L1088.34 258.95L1088.34 287.95L1063.23 302.45L1038.11 287.95L1038.11 258.95zM1113.46 157.45L1138.58 171.95L1138.58 200.95L1113.46 215.45L1088.34 200.95L1088.34 171.95zM1113.46 244.45L1138.58 258.95L1138.58 287.95L1113.46 302.45L1088.34 287.95L1088.34 258.95zM1163.69 70.45L1188.81 84.95L1188.81 113.95L1163.69 128.45L1138.58 113.95L1138.58 84.95zM1163.69 592.45L1188.81 606.95L1188.81 635.95L1163.69 650.45L1138.58 635.95L1138.58 606.95zM1239.04 26.95L1264.15 41.45L1264.15 70.45L1239.04 84.95L1213.92 70.45L1213.92 41.45zM1239.04 113.95L1264.15 128.45L1264.15 157.45L1239.04 171.95L1213.92 157.45L1213.92 128.45zM1213.92 157.45L1239.04 171.95L1239.04 200.95L1213.92 215.45L1188.81 200.95L1188.81 171.95zM1213.92 418.45L1239.04 432.95L1239.04 461.95L1213.92 476.45L1188.81 461.95L1188.81 432.95zM1289.27 548.95L1314.38 563.45L1314.38 592.45L1289.27 606.95L1264.15 592.45L1264.15 563.45zM1339.5 113.95L1364.61 128.45L1364.61 157.45L1339.5 171.95L1314.38 157.45L1314.38 128.45zM1314.38 592.45L1339.5 606.95L1339.5 635.95L1314.38 650.45L1289.27 635.95L1289.27 606.95zM1339.5 722.95L1364.61 737.45L1364.61 766.45L1339.5 780.95L1314.38 766.45L1314.38 737.45zM1389.73 374.95L1414.85 389.45L1414.85 418.45L1389.73 432.95L1364.61 418.45L1364.61 389.45zM1389.73 548.95L1414.85 563.45L1414.85 592.45L1389.73 606.95L1364.61 592.45L1364.61 563.45zM1389.73 722.95L1414.85 737.45L1414.85 766.45L1389.73 780.95L1364.61 766.45L1364.61 737.45zM1414.85 70.45L1439.96 84.95L1439.96 113.95L1414.85 128.45L1389.73 113.95L1389.73 84.95zM1439.96 548.95L1465.08 563.45L1465.08 592.45L1439.96 606.95L1414.85 592.45L1414.85 563.45zM1439.96 722.95L1465.08 737.45L1465.08 766.45L1439.96 780.95L1414.85 766.45L1414.85 737.45zM1465.08 157.45L1490.19 171.95L1490.19 200.95L1465.08 215.45L1439.96 200.95L1439.96 171.95zM1490.19 461.95L1515.31 476.45L1515.31 505.45L1490.19 519.95L1465.08 505.45L1465.08 476.45zM1465.08 505.45L1490.19 519.95L1490.19 548.95L1465.08 563.45L1439.96 548.95L1439.96 519.95zM1515.31 -16.55L1540.42 -2.05L1540.42 26.95L1515.31 41.45L1490.19 26.95L1490.19 -2.05zM1515.31 70.45L1540.42 84.95L1540.42 113.95L1515.31 128.45L1490.19 113.95L1490.19 84.95zM1540.42 461.95L1565.54 476.45L1565.54 505.45L1540.42 519.95L1515.31 505.45L1515.31 476.45zM1515.31 505.45L1540.42 519.95L1540.42 548.95L1515.31 563.45L1490.19 548.95L1490.19 519.95zM1515.31 679.45L1540.42 693.95L1540.42 722.95L1515.31 737.45L1490.19 722.95L1490.19 693.95zM1565.54 70.45L1590.65 84.95L1590.65 113.95L1565.54 128.45L1540.42 113.95L1540.42 84.95zM1565.54 244.45L1590.65 258.95L1590.65 287.95L1565.54 302.45L1540.42 287.95L1540.42 258.95zM1590.65 374.95L1615.77 389.45L1615.77 418.45L1590.65 432.95L1565.54 418.45L1565.54 389.45zM1615.77 244.45L1640.88 258.95L1640.88 287.95L1615.77 302.45L1590.65 287.95L1590.65 258.95zM1691.12 26.95L1716.23 41.45L1716.23 70.45L1691.12 84.95L1666 70.45L1666 41.45zM1666 70.45L1691.12 84.95L1691.12 113.95L1666 128.45L1640.88 113.95L1640.88 84.95zM1691.12 200.95L1716.23 215.45L1716.23 244.45L1691.12 258.95L1666 244.45L1666 215.45zM1716.23 -16.55L1741.35 -2.05L1741.35 26.95L1716.23 41.45L1691.12 26.95L1691.12 -2.05zM1766.46 157.45L1791.58 171.95L1791.58 200.95L1766.46 215.45L1741.35 200.95L1741.35 171.95zM1791.58 200.95L1816.69 215.45L1816.69 244.45L1791.58 258.95L1766.46 244.45L1766.46 215.45zM1791.58 461.95L1816.69 476.45L1816.69 505.45L1791.58 519.95L1766.46 505.45L1766.46 476.45zM1791.58 548.95L1816.69 563.45L1816.69 592.45L1791.58 606.95L1766.46 592.45L1766.46 563.45zM1816.69 679.45L1841.81 693.95L1841.81 722.95L1816.69 737.45L1791.58 722.95L1791.58 693.95zM1892.04 374.95L1917.15 389.45L1917.15 418.45L1892.04 432.95L1866.92 418.45L1866.92 389.45zM1917.15 -16.55L1942.27 -2.05L1942.27 26.95L1917.15 41.45L1892.04 26.95L1892.04 -2.05zM1917.15 244.45L1942.27 258.95L1942.27 287.95L1917.15 302.45L1892.04 287.95L1892.04 258.95zM1917.15 592.45L1942.27 606.95L1942.27 635.95L1917.15 650.45L1892.04 635.95L1892.04 606.95zM1942.27 635.95L1967.39 650.45L1967.39 679.45L1942.27 693.95L1917.15 679.45L1917.15 650.45zM1942.27 722.95L1967.39 737.45L1967.39 766.45L1942.27 780.95L1917.15 766.45L1917.15 737.45z' stroke='rgba(6%2c 80%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1075'%3e%3crect width='1920' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1076'%3e%3cstop stop-color='rgba(36%2c 38%2c 43%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 35%2c 80%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='279.93600000000004' y1='-280' x2='1640.064' y2='1080' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1077'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    padding: 70px 0;
}
.footer-col{
   width: 25%;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -5px;
	background-color: var(--MainColor);
	height: 3px;
	box-sizing: border-box;
	width: 75px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: var(--MainColor);
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #6d6d6d;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	background-color: var(--MainColor);
}
@media(max-width: 775px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 500px){
  .footer-col{
    width: 100%;
}
}