@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

html {scroll-behavior: smooth;}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    letter-spacing: 1px;
    font-weight: 300;
}
:root {
    --MainColor: #0050ff;
    --white: #fff;
    --black: #000;
    --charcoal: #333;
    --check: #1fca58;
}
body{
    overflow-x: hidden;
    background-color: var(--white);
    overflow-wrap: break-word;
}

a.anchor {
    display: block;
    position: relative;
    top: -75px;
    visibility: hidden;
}

/* Styles */
.devider{
    position: relative;
    min-height: 0.75rem;
    background-color: var(--charcoal);
}
.body1 {
    justify-content: center;
    display: flex;
    height: 95vh;
    background-image: url(../images/background1.png), url(../images/background2.png), linear-gradient(150deg, #0050ff 25%, #ffffff 50%);
    background-size: 0%, 0%, auto;
    background-position: left, right, center;
    background-repeat: no-repeat;
    animation: progress1 2s ease-in-out forwards;
}
@keyframes progress1 {
    0%{
        background-size: 0%, 0%, auto;
    }
    25%{
        background-size: 0%, 0%, auto;
}
    75%{
        background-size: 65%, 65%, auto;    
}
    100%{
        background-size: 50%, 50%, auto;
}
}
.body2 {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3cpath d='M -930.9749169849531%2c99 C -834.97%2c188 -642.97%2c522 -450.9749169849531%2c544 C -258.97%2c566 -162.97%2c236.8 29.025083015046903%2c209 C 221.03%2c181.2 317.03%2c438.4 509.0250830150469%2c405 C 701.03%2c371.6 802.83%2c46.4 989.0250830150469%2c42 C 1175.22%2c37.6 1349.81%2c314.8 1440%2c383' stroke='rgba(51%2c 121%2c 194%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -802.6972741590587%2c507 C -706.7%2c408.6 -514.7%2c39 -322.6972741590587%2c15 C -130.7%2c-9 -34.7%2c337.6 157.30272584094132%2c387 C 349.3%2c436.4 445.3%2c239 637.3027258409413%2c262 C 829.3%2c285 956.76%2c540.2 1117.3027258409413%2c502 C 1277.84%2c463.8 1375.46%2c157.2 1440%2c71' stroke='rgba(51%2c 121%2c 194%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -50.49173951598084%2c63 C 45.51%2c141.8 237.51%2c416.8 429.50826048401916%2c457 C 621.51%2c497.2 717.51%2c247.4 909.5082604840192%2c264 C 1101.51%2c280.6 1197.51%2c561.2 1389.508260484019%2c540 C 1581.51%2c518.8 1859.41%2c209.6 1869.508260484019%2c158 C 1879.61%2c106.4 1525.9%2c257.2 1440%2c282' stroke='rgba(51%2c 121%2c 194%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -703.1336652093087%2c431 C -607.13%2c359.6 -415.13%2c87 -223.1336652093087%2c74 C -31.13%2c61 64.87%2c353.8 256.8663347906913%2c366 C 448.87%2c378.2 544.87%2c127.8 736.8663347906913%2c135 C 928.87%2c142.2 1076.24%2c407.8 1216.8663347906913%2c402 C 1357.49%2c396.2 1395.37%2c165.2 1440%2c106' stroke='rgba(51%2c 121%2c 194%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -778.8568724738545%2c109 C -682.86%2c196.8 -490.86%2c518 -298.85687247385454%2c548 C -106.86%2c578 -10.86%2c272.8 181.14312752614546%2c259 C 373.14%2c245.2 469.14%2c514 661.1431275261455%2c479 C 853.14%2c444 985.37%2c98 1141.1431275261455%2c84 C 1296.91%2c70 1380.23%2c344 1440%2c409' stroke='rgba(51%2c 121%2c 194%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #B9D6FF;
    height: 50vh auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body3{
    background: linear-gradient(#ffffff 5%, #0050ff);
}
@media (max-width: 775px){
.body3 {
    background: none;
}
}

.body4{
    background-color: #eee;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='500' preserveAspectRatio='none' viewBox='0 0 1440 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1037%26quot%3b)' fill='none'%3e%3cpath d='M61 500L561 0L880.5 0L380.5 500z' fill='url(%23SvgjsLinearGradient1038)'%3e%3c/path%3e%3cpath d='M352.8 500L852.8 0L1163.3 0L663.3 500z' fill='url(%23SvgjsLinearGradient1038)'%3e%3c/path%3e%3cpath d='M670.6 500L1170.6 0L1349.1 0L849.1 500z' fill='url(%23SvgjsLinearGradient1038)'%3e%3c/path%3e%3cpath d='M1396 500L896 0L498.5 0L998.5 500z' fill='url(%23SvgjsLinearGradient1039)'%3e%3c/path%3e%3cpath d='M1073.2 500L573.2 0L295.70000000000005 0L795.7 500z' fill='url(%23SvgjsLinearGradient1039)'%3e%3c/path%3e%3cpath d='M790.4 500L290.4 0L-33.60000000000002 0L466.4 500z' fill='url(%23SvgjsLinearGradient1039)'%3e%3c/path%3e%3cpath d='M1067.1009564978385 500L1440 127.10095649783847L1440 500z' fill='url(%23SvgjsLinearGradient1038)'%3e%3c/path%3e%3cpath d='M0 500L372.89904350216153 500L 0 127.10095649783847z' fill='url(%23SvgjsLinearGradient1039)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1037'%3e%3crect width='1440' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1038'%3e%3cstop stop-color='rgba(86%2c 144%2c 255%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(86%2c 144%2c 255%2c 1)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1039'%3e%3cstop stop-color='rgba(86%2c 144%2c 255%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(86%2c 144%2c 255%2c 1)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-position: center;
    height: 60vh auto;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
h1{
    color: var(--MainColor);
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
}

/* Text */
.text{
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
}
.text:hover{
    padding-top: 15px;
}
.text h1 {
    color: var(--black);
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
} 
.text h1:hover{
    color: var(--MainColor);
}
.text p {
    margin-top: 5px;
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;
    transition: all 0.5s ease;
}
.text p:hover{
    color: var(--MainColor);
}


/*cards*/

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
    width: 100%;
    margin: 0vh auto;
    padding: 50px
}

.card {
    border-radius: 16px;
    box-shadow: 0 30px 30px -25px rgba(65, 51, 183, 0.25);
    max-width: 650px;
}

.information {
    background-color: rgba(255, 255, 255, 0.25);
    padding: 1.5rem;
    border: 3px solid rgb(255, 255, 255);
}
.information:hover{
    background-color: var(--MainColor);
}
.information:hover > .info{
    color:  var(--white);
}
.information:hover > .title{
    color:  var(--white);
}

.information .title {
    color: var(--MainColor);
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}
.information .title + * {
    margin-top: 1rem;
}
.information .info {
    color: var(--charcoal);
}
.information .info + * {
    margin-top: 1.25rem;
}

.skills {
    background-color: rgba(255, 255, 255, 0.25);
    padding: 1.5rem;
    border: 3px solid rgb(255, 255, 255);

}
.skills:hover{
    background-color: var(--MainColor);
}
.skills:hover > .title{
    color:  var(--white);
}
.skills:hover > .features >.elaborate{
    color:  var(--white);
}
.skills:hover > .features strong{
    color:  var(--white);
}

.skills strong {
    font-weight: 600;
    color: var(--black);
}
.skills .title {
    color: var(--MainColor);
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}
.skills .features {
    display: flex;
    flex-direction: column;
}
.skills .features li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.skills .features .icon {
    background-color: var(--check);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.skills .features .icon svg {
    width: 14px;
    height: 14px;
}
.skills .features + * {
    margin-top: 1.25rem;
}
.skills .elaborate {
    color: var(--black);
    padding-left: 25px;
    padding-bottom: 20px;
}


/* Skills */
.main{
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: center;
}
.container{
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 700px;
    width: 100%;
    background: var(--white);
    margin: 0 20px;
    padding: 15px;
    border-radius: 7px;
}
.container .skill-box{
    width: 100%;
    margin: 25px 0;
}
.skill-box .title{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: var(--charcoal);
}
.skill-box .skill-bar{
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0,0,0,0.1);
}
.skill-box .skill-bar:hover{
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(250, 0, 0, 0.5);
}
.skill-bar .skill-per{
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: var(--MainColor);
    animation: progress 1s ease-in-out forwards;
    opacity: 0;
}
.skill-per.html{
    width: 70%;
    animation-delay: 0.2s;
}
.skill-per.css{
    width: 60%;
    animation-delay: 0.4s;
}
.skill-per.python{
    width: 30%;
    animation-delay: 0.6s;
}
.skill-per.c-sharp{
    width: 20%;
    animation-delay: 0.8s;
}
.skill-per.lua{
    width: 10%;
    animation-delay: 1s;
}
  @keyframes progress {
    0%{
      width: 0%;
      opacity: 0;
}
    100%{
      opacity: 1;
}
}
.skill-per .tooltip{
    position: absolute;
    right: -14px;
    top: 20px;
    font-size: 12px;
    font-weight: 500;
    color: var(--white);
    padding: 2px 6px;
    border-radius: 3px;
    background: var(--MainColor);
    z-index: 1;
}
.tooltip::before{
    content: " ";
    position: absolute;
    left: 50%;
    top: -5px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: var(--MainColor);
    transform: translateX(-50%) rotate(45deg);
}


/* Projects */
.projects {
    padding: 20px;
    background: linear-gradient(130deg, #383745 50%, #16161b 50%);
}
.Project-card {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    box-shadow: 0 0 25px 0 rgba(0, 80, 255, 0.25);
    background: var(--white);
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 20px;
    border: solid var(--MainColor) 2px;
    overflow: hidden;
    z-index: 0;
}
.Project-card:hover .photo {
    transform: scale(1.2) rotate(3deg);
}
.Project-card .meta {
    position: relative;
    z-index: 0;
    height: 200px;
}
.Project-card .photo {
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
}
.Project-card .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left 0.2s;
    background: rgba(0, 229, 255, 0.345);
    padding: 10px;
    width: 100%;
}
.Project-card .description {
    padding: 1rem;
    background: #f5f5f5;
    position: relative;
    z-index: 1;
}
.Project-card .description h1,
.Project-card .description h2 {
    font-family: sans-serif;
    color: var(--black);
}
.Project-card .description h1 {
    line-height: 1;
    margin: 0;
    font-size: 1.5rem;
}
.Project-card .description h2 {
    font-size: 1rem;
    font-weight: 300;
    color: var(--charcoal);
    margin-top: 5px;
}
.Project-card .description p {
    font-size: 0.90rem;
    font-weight: 300;
    color: var(--charcoal);
    margin-top: 5px;
}
.Project-card .description .See-more {
    text-align: right;
}
.Project-card .description .See-more a {
    color: var(--MainColor);
    display: inline-block;
    position: relative;
    font-size: 15px;
    right: 10px;
    transition: 0.3s;
}
.Project-card .description .See-more a:hover{
    right: -5px;
    color: var(--check);
}
.Project-card .description .See-more a::before {
    content: "➢ ";
    opacity: 0;
    vertical-align: middle;
    transition: margin 0.3s, opacity 0.3s;
}
.Project-card .description .See-more a:hover::before {
    opacity: 1;
}
.Project-card p {
    position: relative;
    margin: 1rem 0 0;
}
.Project-card p:first-of-type:before {
    content: "";
    position: absolute;
    height: 3px;
    background: var(--MainColor);
    width: 157px;
    top: -5px;
    border-radius: 3px;
}
.Project-card:hover .details {
    left: 0%;
}
@media (min-width: 775px) {
.Project-card {
    flex-direction: row;
    max-width: 700px;
}
.Project-card .meta {
    flex-basis: 40%;
    height: auto;
}
.Project-card .description {
    flex-basis: 60%;
}
.Project-card .description:before {
    transform: skewX(-3deg);
    content: "";
    background: #f5f5f5;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.Project-card.alt {
    flex-direction: row-reverse;
}
.Project-card.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
}
}


/* Footer */
.container2{
	max-width: 90%;
	margin: auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
}
ul{
	list-style: none;
}
.footer{
    padding: 30px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='500' preserveAspectRatio='none' viewBox='0 0 1920 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1102%26quot%3b)' fill='none'%3e%3crect width='1920' height='500' x='0' y='0' fill='url(%23SvgjsLinearGradient1103)'%3e%3c/rect%3e%3cpath d='M20.02 -16.54L77.18 16.46L77.18 82.46L20.02 115.46L-37.14 82.46L-37.14 16.46zM77.18 280.46L134.34 313.46L134.34 379.46L77.18 412.46L20.02 379.46L20.02 313.46zM191.5 280.46L248.66 313.46L248.66 379.46L191.5 412.46L134.34 379.46L134.34 313.46zM248.66 181.46L305.82 214.46L305.82 280.46L248.66 313.46L191.5 280.46L191.5 214.46zM305.82 280.46L362.98 313.46L362.98 379.46L305.82 412.46L248.66 379.46L248.66 313.46zM248.66 379.46L305.82 412.46L305.82 478.46L248.66 511.46L191.5 478.46L191.5 412.46zM420.14 82.46L477.29 115.46L477.29 181.46L420.14 214.46L362.98 181.46L362.98 115.46zM362.98 181.46L420.14 214.46L420.14 280.46L362.98 313.46L305.82 280.46L305.82 214.46zM420.14 280.46L477.29 313.46L477.29 379.46L420.14 412.46L362.98 379.46L362.98 313.46zM534.45 280.46L591.61 313.46L591.61 379.46L534.45 412.46L477.29 379.46L477.29 313.46zM648.77 478.46L705.93 511.46L705.93 577.46L648.77 610.46L591.61 577.46L591.61 511.46zM705.93 181.46L763.09 214.46L763.09 280.46L705.93 313.46L648.77 280.46L648.77 214.46zM763.09 280.46L820.25 313.46L820.25 379.46L763.09 412.46L705.93 379.46L705.93 313.46zM877.41 82.46L934.57 115.46L934.57 181.46L877.41 214.46L820.25 181.46L820.25 115.46zM877.41 280.46L934.57 313.46L934.57 379.46L877.41 412.46L820.25 379.46L820.25 313.46zM991.73 82.46L1048.89 115.46L1048.89 181.46L991.7s3 214.46L934.57 181.46L934.57 115.46zM991.73 280.46L1048.89 313.46L1048.89 379.46L991.73 412.46L934.57 379.46L934.57 313.46zM1048.89 -16.54L1106.05 16.46L1106.05 82.46L1048.89 115.46L991.73 82.46L991.73 16.46zM1106.05 82.46L1163.21 115.46L1163.21 181.46L1106.05 214.46L1048.89 181.46L1048.89 115.46zM1106.05 478.46L1163.21 511.46L1163.21 577.46L1106.05 610.46L1048.89 577.46L1048.89 511.46zM1277.52 -16.54L1334.68 16.46L1334.68 82.46L1277.52 115.46L1220.37 82.46L1220.37 16.46zM1277.52 181.46L1334.68 214.46L1334.68 280.46L1277.52 313.46L1220.37 280.46L1220.37 214.46zM1334.68 280.46L1391.84 313.46L1391.84 379.46L1334.68 412.46L1277.52 379.46L1277.52 313.46zM1334.68 478.46L1391.84 511.46L1391.84 577.46L1334.68 610.46L1277.52 577.46L1277.52 511.46zM1391.84 -16.54L1449 16.46L1449 82.46L1391.84 115.46L1334.68 82.46L1334.68 16.46zM1391.84 181.46L1449 214.46L1449 280.46L1391.84 313.46L1334.68 280.46L1334.68 214.46zM1449 280.46L1506.16 313.46L1506.16 379.46L1449 412.46L1391.84 379.46L1391.84 313.46zM1391.84 379.46L1449 412.46L1449 478.46L1391.84 511.46L1334.68 478.46L1334.68 412.46zM1449 478.46L1506.16 511.46L1506.16 577.46L1449 610.46L1391.84 577.46L1391.84 511.46zM1506.16 -16.54L1563.32 16.46L1563.32 82.46L1506.16 115.46L1449 82.46L1449 16.46zM1506.16 379.46L1563.32 412.46L1563.32 478.46L1506.16 511.46L1449 478.46L1449 412.46zM1791.96 82.46L1849.12 115.46L1849.12 181.46L1791.96 214.46L1734.8 181.46L1734.8 115.46zM1734.8 379.46L1791.96 412.46L1791.96 478.46L1734.8 511.46L1677.64 478.46L1677.64 412.46zM1906.28 82.46L1963.44 115.46L1963.44 181.46L1906.28 214.46L1849.12 181.46L1849.12 115.46zM1849.12 181.46L1906.28 214.46L1906.28 280.46L1849.12 313.46L1791.96 280.46L1791.96 214.46zM1849.12 379.46L1906.28 412.46L1906.28 478.46L1849.12 511.46L1791.96 478.46L1791.96 412.46z' stroke='url(%23SvgjsLinearGradient1104)' stroke-width='2'%3e%3c/path%3e%3cpath d='M22 -20.88L47.12 -6.38L47.12 22.62L22 37.12L-3.12 22.62L-3.12 -6.38zM47.12 196.62L72.23 211.12L72.23 240.12L47.12 254.62L22 240.12L22 211.12zM47.12 283.62L72.23 298.12L72.23 327.12L47.12 341.62L22 327.12L22 298.12zM72.23 -20.88L97.35 -6.38L97.35 22.62L72.23 37.12L47.12 22.62L47.12 -6.38zM97.35 109.62L122.46 124.12L122.46 153.12L97.35 167.62L72.23 153.12L72.23 124.12zM97.35 196.62L122.46 211.12L122.46 240.12L97.35 254.62L72.23 240.12L72.23 211.12zM97.35 283.62L122.46 298.12L122.46 327.12L97.35 341.62L72.23 327.12L72.23 298.12zM97.35 370.62L122.46 385.12L122.46 414.12L97.35 428.62L72.23 414.12L72.23 385.12zM197.81 22.62L222.92 37.12L222.92 66.12L197.81 80.62L172.69 66.12L172.69 37.12zM172.69 66.12L197.81 80.62L197.81 109.62L172.69 124.12L147.58 109.62L147.58 80.62zM222.92 240.12L248.04 254.62L248.04 283.62L222.92 298.12L197.81 283.62L197.81 254.62zM248.04 370.62L273.15 385.12L273.15 414.12L248.04 428.62L222.92 414.12L222.92 385.12zM248.04 457.62L273.15 472.12L273.15 501.12L248.04 515.62L222.92 501.12L222.92 472.12zM273.15 -20.88L298.27 -6.38L298.27 22.62L273.15 37.12L248.04 22.62L248.04 -6.38zM298.27 196.62L323.39 211.12L323.39 240.12L298.27 254.62L273.15 240.12L273.15 211.12zM323.39 66.12L348.5 80.62L348.5 109.62L323.39 124.12L298.27 109.62L298.27 80.62zM348.5 196.62L373.62 211.12L373.62 240.12L348.5 254.62L323.39 240.12L323.39 211.12zM348.5 370.62L373.62 385.12L373.62 414.12L348.5 428.62L323.39 414.12L323.39 385.12zM323.39 414.12L348.5 428.62L348.5 457.62L323.39 472.12L298.27 457.62L298.27 428.62zM373.62 414.12L398.73 428.62L398.73 457.62L373.62 472.12L348.5 457.62L348.5 428.62zM423.85 240.12L448.96 254.62L448.96 283.62L423.85 298.12L398.73 283.62L398.73 254.62zM448.96 283.62L474.08 298.12L474.08 327.12L448.96 341.62L423.85 327.12L423.85 298.12zM448.96 370.62L474.08 385.12L474.08 414.12L448.96 428.62L423.85 414.12L423.85 385.12zM423.85 414.12L448.96 428.62L448.96 457.62L423.85 472.12L398.73 457.62L398.73 428.62zM524.31 -20.88L549.42 -6.38L549.42 22.62L524.31 37.12L499.19 22.62L499.19 -6.38zM524.31 66.12L549.42 80.62L549.42 109.62L524.31 124.12L499.19 109.62L499.19 80.62zM524.31 153.12L549.42 167.62L549.42 196.62L524.31 211.12L499.19 196.62L499.19 167.62zM524.31 240.12L549.42 254.62L549.42 283.62L524.31 298.12L499.19 283.62L499.19 254.62zM549.42 283.62L574.54 298.12L574.54 327.12L549.42 341.62L524.31 327.12L524.31 298.12zM524.31 414.12L549.42 428.62L549.42 457.62L524.31 472.12L499.19 457.62L499.19 428.62zM599.66 22.62L624.77 37.12L624.77 66.12L599.66 80.62L574.54 66.12L574.54 37.12zM574.54 240.12L599.66 254.62L599.66 283.62L574.54 298.12L549.42 283.62L549.42 254.62zM599.66 370.62L624.77 385.12L624.77 414.12L599.66 428.62L574.54 414.12L574.54 385.12zM574.54 414.12L599.66 428.62L599.66 457.62L574.54 472.12L549.42 457.62L549.42 428.62zM599.66 457.62L624.77 472.12L624.77 501.12L599.66 515.62L574.54 501.12L574.54 472.12zM649.89 196.62L675 211.12L675 240.12L649.89 254.62L624.77 240.12L624.77 211.12zM624.77 240.12L649.89 254.62L649.89 283.62L624.77 298.12L599.66 283.62L599.66 254.62zM649.89 370.62L675 385.12L675 414.12L649.89 428.62L624.77 414.12L624.77 385.12zM675 66.12L700.12 80.62L700.12 109.62L675 124.12L649.89 109.62L649.89 80.62zM725.23 66.12L750.35 80.62L750.35 109.62L725.23 124.12L700.12 109.62L700.12 80.62zM750.35 109.62L775.46 124.12L775.46 153.12L750.35 167.62L725.23 153.12L725.23 124.12zM750.35 370.62L775.46 385.12L775.46 414.12L750.35 428.62L725.23 414.12L725.23 385.12zM725.23 414.12L750.35 428.62L750.35 457.62L725.23 472.12L700.12 457.62L700.12 428.62zM800.58 22.62L825.69 37.12L825.69 66.12L800.58 80.62L775.46 66.12L775.46 37.12zM800.58 457.62L825.69 472.12L825.69 501.12L800.58 515.62L775.46 501.12L775.46 472.12zM850.81 109.62L875.93 124.12L875.93 153.12L850.81 167.62L825.69 153.12L825.69 124.12zM825.69 153.12L850.81 167.62L850.81 196.62L825.69 211.12L800.58 196.62L800.58 167.62zM850.81 283.62L875.93 298.12L875.93 327.12L850.81 341.62L825.69 327.12L825.69 298.12zM875.93 -20.88L901.04 -6.38L901.04 22.62L875.93 37.12L850.81 22.62L850.81 -6.38zM901.04 22.62L926.16 37.12L926.16 66.12L901.04 80.62L875.93 66.12L875.93 37.12zM875.93 327.12L901.04 341.62L901.04 370.62L875.93 385.12L850.81 370.62L850.81 341.62zM901.04 370.62L926.16 385.12L926.16 414.12L901.04 428.62L875.93 414.12L875.93 385.12zM951.27 22.62L976.39 37.12L976.39 66.12L951.27 80.62L926.16 66.12L926.16 37.12zM926.16 153.12L951.27 167.62L951.27 196.62L926.16 211.12L901.04 196.62L901.04 167.62zM951.27 283.62L976.39 298.12L976.39 327.12L951.27 341.62L926.16 327.12L926.16 298.12zM926.16 327.12L951.27 341.62L951.27 370.62L926.16 385.12L901.04 370.62L901.04 341.62zM951.27 370.62L976.39 385.12L976.39 414.12L951.27 428.62L926.16 414.12L926.16 385.12zM976.39 66.12L1001.5 80.62L1001.5 109.62L976.39 124.12L951.27 109.62L951.27 80.62zM1001.5 283.62L1026.62 298.12L1026.62 327.12L1001.5 341.62L976.39 327.12L976.39 298.12zM1026.62 66.12L1051.73 80.62L1051.73 109.62L1026.62 124.12L1001.5 109.62L1001.5 80.62zM1051.73 196.62L1076.85 211.12L1076.85 240.12L1051.73 254.62L1026.62 240.12L1026.62 211.12zM1051.73 283.62L1076.85 298.12L1076.85 327.12L1051.73 341.62L1026.62 327.12L1026.62 298.12zM1101.96 196.62L1127.08 211.12L1127.08 240.12L1101.96 254.62L1076.85 240.12L1076.85 211.12zM1076.85 240.12L1101.96 254.62L1101.96 283.62L1076.85 298.12L1051.73 283.62L1051.73 254.62zM1101.96 370.62L1127.08 385.12L1127.08 414.12L1101.96 428.62L1076.85 414.12L1076.85 385.12zM1152.2 196.62L1177.31 211.12L1177.31 240.12L1152.2 254.62L1127.08 240.12L1127.08 211.12zM1152.2 457.62L1177.31 472.12L1177.31 501.12L1152.2 515.62L1127.08 501.12L1127.08 472.12zM1177.31 -20.88L1202.43 -6.38L1202.43 22.62L1177.31 37.12L1152.2 22.62L1152.2 -6.38zM1177.31 240.12L1202.43 254.62L1202.43 283.62L1177.31 298.12L1152.2 283.62L1152.2 254.62zM1202.43 370.62L1227.54 385.12L1227.54 414.12L1202.43 428.62L1177.31 414.12L1177.31 385.12zM1252.66 283.62L1277.77 298.12L1277.77 327.12L1252.66 341.62L1227.54 327.12L1227.54 298.12zM1277.77 -20.88L1302.89 -6.38L1302.89 22.62L1277.77 37.12L1252.66 22.62L1252.66 -6.38zM1302.89 22.62L1328 37.12L1328 66.12L1302.89 80.62L1277.77 66.12L1277.77 37.12zM1277.77 66.12L1302.89 80.62L1302.89 109.62L1277.77 124.12L1252.66 109.62L1252.66 80.62zM1277.77 153.12L1302.89 167.62L1302.89 196.62L1277.77 211.12L1252.66 196.62L1252.66 167.62zM1302.89 196.62L1328 211.12L1328 240.12L1302.89 254.62L1277.77 240.12L1277.77 211.12zM1277.77 240.12L1302.89 254.62L1302.89 283.62L1277.77 298.12L1252.66 283.62L1252.66 254.62zM1353.12 109.62L1378.23 124.12L1378.23 153.12L1353.12 167.62L1328 153.12L1328 124.12zM1353.12 283.62L1378.23 298.12L1378.23 327.12L1353.12 341.62L1328 327.12L1328 298.12zM1378.23 66.12L1403.35 80.62L1403.35 109.62L1378.23 124.12L1353.12 109.62L1353.12 80.62zM1403.35 109.62L1428.47 124.12L1428.47 153.12L1403.35 167.62L1378.23 153.12L1378.23 124.12zM1378.23 414.12L1403.35 428.62L1403.35 457.62L1378.23 472.12L1353.12 457.62L1353.12 428.62zM1403.35 457.62L1428.47 472.12L1428.47 501.12L1403.35 515.62L1378.23 501.12L1378.23 472.12zM1428.47 -20.88L1453.58 -6.38L1453.58 22.62L1428.47 37.12L1403.35 22.62L1403.35 -6.38zM1428.47 414.12L1453.58 428.62L1453.58 457.62L1428.47 472.12L1403.35 457.62L1403.35 428.62zM1478.7 -20.88L1503.81 -6.38L1503.81 22.62L1478.7 37.12L1453.58 22.62L1453.58 -6.38zM1503.81 22.62L1528.93 37.12L1528.93 66.12L1503.81 80.62L1478.7 66.12L1478.7 37.12zM1503.81 196.62L1528.93 211.12L1528.93 240.12L1503.81 254.62L1478.7 240.12L1478.7 211.12zM1503.81 283.62L1528.93 298.12L1528.93 327.12L1503.81 341.62L1478.7 327.12L1478.7 298.12zM1503.81 370.62L1528.93 385.12L1528.93 414.12L1503.81 428.62L1478.7 414.12L1478.7 385.12zM1503.81 457.62L1528.93 472.12L1528.93 501.12L1503.81 515.62L1478.7 501.12L1478.7 472.12zM1554.04 22.62L1579.16 37.12L1579.16 66.12L1554.04 80.62L1528.93 66.12L1528.93 37.12zM1528.93 153.12L1554.04 167.62L1554.04 196.62L1528.93 211.12L1503.81 196.62L1503.81 167.62zM1528.93 240.12L1554.04 254.62L1554.04 283.62L1528.93 298.12L1503.81 283.62L1503.81 254.62zM1528.93 327.12L1554.04 341.62L1554.04 370.62L1528.93 385.12L1503.81 370.62L1503.81 341.62zM1579.16 -20.88L1604.27 -6.38L1604.27 22.62L1579.16 37.12L1554.04 22.62L1554.04 -6.38zM1604.27 109.62L1629.39 124.12L1629.39 153.12L1604.27 167.62L1579.16 153.12L1579.16 124.12zM1579.16 153.12L1604.27 167.62L1604.27 196.62L1579.16 211.12L1554.04 196.62L1554.04 167.62zM1604.27 196.62L1629.39 211.12L1629.39 240.12L1604.27 254.62L1579.16 240.12L1579.16 211.12zM1604.27 283.62L1629.39 298.12L1629.39 327.12L1604.27 341.62L1579.16 327.12L1579.16 298.12zM1579.16 414.12L1604.27 428.62L1604.27 457.62L1579.16 472.12L1554.04 457.62L1554.04 428.62zM1629.39 -20.88L1654.5 -6.38L1654.5 22.62L1629.39 37.12L1604.27 22.62L1604.27 -6.38zM1629.39 153.12L1654.5 167.62L1654.5 196.62L1629.39 211.12L1604.27 196.62L1604.27 167.62zM1654.5 283.62L1679.62 298.12L1679.62 327.12L1654.5 341.62L1629.39 327.12L1629.39 298.12zM1629.39 327.12L1654.5 341.62L1654.5 370.62L1629.39 385.12L1604.27 370.62L1604.27 341.62zM1654.5 457.62L1679.62 472.12L1679.62 501.12L1654.5 515.62L1629.39 501.12L1629.39 472.12zM1704.74 22.62L1729.85 37.12L1729.85 66.12L1704.74 80.62L1679.62 66.12L1679.62 37.12zM1704.74 109.62L1729.85 124.12L1729.85 153.12L1704.74 167.62L1679.62 153.12L1679.62 124.12zM1704.74 196.62L1729.85 211.12L1729.85 240.12L1704.74 254.62L1679.62 240.12L1679.62 211.12zM1704.74 457.62L1729.85 472.12L1729.85 501.12L1704.74 515.62L1679.62 501.12L1679.62 472.12zM1754.97 22.62L1780.08 37.12L1780.08 66.12L1754.97 80.62L1729.85 66.12L1729.85 37.12zM1729.85 66.12L1754.97 80.62L1754.97 109.62L1729.85 124.12L1704.74 109.62L1704.74 80.62zM1805.2 22.62L1830.31 37.12L1830.31 66.12L1805.2 80.62L1780.08 66.12L1780.08 37.12zM1805.2 109.62L1830.31 124.12L1830.31 153.12L1805.2 167.62L1780.08 153.12L1780.08 124.12zM1780.08 153.12L1805.2 167.62L1805.2 196.62L1780.08 211.12L1754.97 196.62L1754.97 167.62zM1780.08 414.12L1805.2 428.62L1805.2 457.62L1780.08 472.12L1754.97 457.62L1754.97 428.62zM1830.31 66.12L1855.43 80.62L1855.43 109.62L1830.31 124.12L1805.2 109.62L1805.2 80.62zM1855.43 196.62L1880.54 211.12L1880.54 240.12L1855.43 254.62L1830.31 240.12L1830.31 211.12zM1830.31 240.12L1855.43 254.62L1855.43 283.62L1830.31 298.12L1805.2 283.62L1805.2 254.62zM1880.54 153.12L1905.66 167.62L1905.66 196.62L1880.54 211.12L1855.43 196.62L1855.43 167.62zM1880.54 240.12L1905.66 254.62L1905.66 283.62L1880.54 298.12L1855.43 283.62L1855.43 254.62zM1880.54 414.12L1905.66 428.62L1905.66 457.62L1880.54 472.12L1855.43 457.62L1855.43 428.62zM1905.66 457.62L1930.77 472.12L1930.77 501.12L1905.66 515.62L1880.54 501.12L1880.54 472.12zM1955.89 109.62L1981.01 124.12L1981.01 153.12L1955.89 167.62L1930.77 153.12L1930.77 124.12zM1955.89 283.62L1981.01 298.12L1981.01 327.12L1955.89 341.62L1930.77 327.12L1930.77 298.12z' stroke='rgba(6%2c 80%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1102'%3e%3crect width='1920' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1103'%3e%3cstop stop-color='rgba(36%2c 38%2c 43%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 35%2c 80%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='355.008' y1='-355' x2='1564.9920000000002' y2='855' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1104'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-col{
   width: 25%;
}
.footer-col h4{
	font-size: 1.2rem;
	color: var(--white);
	text-transform: capitalize;
	margin-bottom: 20px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -5px;
	background-color: var(--MainColor);
	height: 3px;
	box-sizing: border-box;
	width: 50%;
}
.footer-col h4:hover{
	color: var(--check);
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 1rem;
	text-transform: capitalize;
	color: var(--white);
	text-decoration: none;
	font-weight: 300;
	color: var(--white);
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	padding-left: 8px;
    color: var(--check);
}
.footer-col ul li a:hover::before {
    margin-left: 5px;
    opacity: 1;
}
.footer-col ul li a::before{
    content: "➢ ";
    color: var(--check);
    margin-left: -10px;
    opacity: 0;
    vertical-align: middle;
    transition: margin 0.3s, opacity 0.3s;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #6d6d6d;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	background-color: var(--check);
}
@media(max-width: 850px){
  .footer-col{
    width: 100%;
    margin-bottom: 30px;
}
}
@media(max-width: 1200px){
.footer-col ul li a::before{
    content: " ";
    vertical-align: middle;
    }
}