:root {
    --primary-color-1: #0b0c10;
    --primary-color-2: rgb(31, 40, 51);

    --main-color: #00abf0;
    --main-color-alpha: rgba(0, 171, 240, .7);
    --white-color: rgb(237, 237, 237);
    --text-color: rgb(255, 255, 255);

    --box-shadow: 0 2px 10px 2px rgb(0, 0, 0);
    --social-bg-color: rgba(0, 171, 240, .25);

    --linear-background: linear-gradient(90deg, rgba(0, 171, 240, .2), rgba(31, 40, 51, .1));

    /*========== Font ==========*/
    --font-heading: 'Raleway', sans-serif;
    --font-body: 'Open Sans', sans-serif;
    --font-semi-bold: 600;

    /*========== Nav ==========*/
    --black-color: rgb(23, 28, 38);
    --black-color-light: rgb(29, 35, 47);
    --black-color-lighten: rgb(37, 43, 55);

    --header-height: 120px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
    list-style: none;
}

body {
    background-color: var(--primary-color-1);
    color: var(--text-color);
    font-family: var(--font-body);
}   

section:nth-child(odd) {
    background-color: var(--primary-color-2);
}

section {
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 250px 0;
    text-align: center;
}


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    margin-inline: 1.5rem;
    padding: 0 50px;
}

.no-scroll {
    overflow: hidden;
}

/*=============== HEADER ===============*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--black-color);
    box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
    z-index: 100;
    transition: 1s;
}

/*=============== NAV ===============*/
.nav {
    height: var(--header-height);
    transition: 1s;
}

.nav a {
    color: var(--white-color);

}


li .nav_active {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

.nav_logo,
.nav_burger,
.nav_close {
    color: var(--white-color);
}

.nav_data {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    font-weight: var(--font-semi-bold);
}

.nav_logo h3,
.nav_logo span {
    transition: .5s;
    font-size: 2rem;
}

.nav_logo h3:hover {
    color: var(--main-color);
}

.nav_logo h3:hover span {
    color: var(--white-color);
}

.nav_logo i {
    font-size: 1.25rem;
}

.nav_logo img {
    height: 90px;
    width: 90px;
    margin-right: 10px;
    transition: 1s;
}

.nav_toggle {
    position: relative;
    color: var(--white-color);
    font-size: 1.25rem;
}

.nav_burger,
.nav_close {
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    font-size: 1.5rem;
    cursor: pointer;
    transition: opacity .1s, transform .4s;
}

.nav_close {
    opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1000px) {
    .nav_menu {
        position: absolute;
        left: 0;
        top: 2.5rem;
        width: 100%;
        height: calc(100vh - 60px);
        overflow: auto;
        pointer-events: none;
        opacity: 0;
        transition: top .4s, opacity .3s;
    }

    .nav_menu::-webkit-scrollbar {
        width: 0;
    }

    .nav_list {
        background-color: var(--black-color);
        padding-top: 1rem;
    }
}

.nav_link,
.nav_link a {
    font-weight: var(--font-semi-bold);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color .3s;
}

.nav_li:hover {
    color: var(--main-color);
}

/* Show menu */
.show-menu {
    opacity: 1;
    top: var(--header-height);
    pointer-events: initial;
}

/* Show icon */
.show-icon .nav_burger {
    opacity: 0;
    transform: rotate(180deg);
}

.show-icon .nav_close {
    opacity: 1;
    transform: rotate(180deg);
}

/*=============== DROPDOWN ===============*/
.dropdown_item {
    cursor: pointer;
}

.dropdown_arrow {
    font-size: 1.25rem;
    font-weight: initial;
    transition: transform .4s;
}

.dropdown_link,
.dropdown_sublink {
    padding: 1.25rem 1.25rem 1.25rem 2.5rem;
    background-color: var(--black-color-light);
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: var(--font-semi-bold);
    transition: background-color .3s;
}

.dropdown_link i,
.dropdown_sublink i {
    font-size: 1.25rem;
    font-weight: var(--font-semi-bold);
}

.dropdown_link:hover,
.dropdown_sublink:hover {
    background-color: var(--black-color);
}

.dropdown_menu,
.dropdown_submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-out;
}

/* Show dropdown menu & submenu */
.dropdown_item:hover .dropdown_menu,
.dropdown_subitem:hover>.dropdown_submenu {
    max-height: 1200px;
    transition: max-height .4s ease-in;
}

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown_add {
    margin-left: auto;
}

.dropdown_sublink {
    background-color: var(--black-color-lighten);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 500px) {
    .container {
        margin-inline: 1rem;
        padding: 0 20px 0 0;
    }

    .nav_link {
        padding-inline: 1rem;
    }

    .nav_logo h3,
    .nav_logo span {
        transition: .5s;
        font-size: 1.5rem;
    }
}

/* For large devices */
@media screen and (min-width: 1000px) {
    .container {
        margin-inline: auto;
    }

    .nav {
        height: var(--header-height);
        display: flex;
        justify-content: space-between;
    }

    .nav_toggle {
        display: none;
    }

    .nav_list {
        height: 100%;
        display: flex;
        column-gap: 2.5rem;
    }

    .nav_link {
        height: 100%;
        padding: 0;
        justify-content: initial;
        column-gap: .25rem;
    }

    .nav_link:hover {
        background-color: transparent;
    }

    .dropdown_item,
    .dropdown_subitem {
        position: relative;
    }

    .dropdown_menu,
    .dropdown_submenu {
        max-height: initial;
        overflow: initial;
        position: absolute;
        min-width: 200px;
        left: 0;
        top: 6rem;
        opacity: 0;
        pointer-events: none;
        transition: opacity .3s, top .3s;
    }

    .dropdown_link,
    .dropdown_sublink {
        padding-inline: 1rem 3.5rem;
    }

    .dropdown_subitem .dropdown_link {
        padding-inline: 1rem;
    }

    .dropdown_submenu {
        position: absolute;
        left: 200px;
        top: .5rem;
    }

    /* Show dropdown menu */
    .dropdown_item:hover .dropdown_menu {
        opacity: 1;
        top: var(--header-height);
        pointer-events: initial;
        transition: 1s;
    }

    /* Show dropdown submenu */
    .dropdown_subitem:hover>.dropdown_submenu {
        opacity: 1;
        top: 0;
        pointer-events: initial;
    }
}