@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');


* {
    padding: 0;
    margin: 0;
}

.container-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: #191919;
}

.card {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 650px;
    background: #232323;
    box-shadow: 0px 2px 21px rgba(0, 0, 0, 0.25);
    border: solid 2px #232323;
    border-radius: 26px;
    overflow: hidden;
}

.card h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 5px;
    text-align: center;
    color: #FFFFFF;
    transition: all 0.5s ease-in-out;
}

.card p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #DADADA;
    transition: all 0.5s ease-in-out;
}

.card p::before{
    content: "● ";
}

.description {
    background: transparent;
    box-shadow: 0px 2px 21px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
    padding: 40px;
    z-index: 2;
    transition: all 0.5s ease-in-out;
}

.circle-top, .circle-bottom {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #0050ff;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.circle-top {
    top: -20px;
    left: -20px;
}

.circle-bottom {
    bottom: -20px;
    right: -20px;
}

.card:hover .circle-top, .card:hover .circle-bottom {
    transform: scale(10);
}

.card:hover{
    box-shadow: 0px 2px 21px rgba(0, 81, 255, 0.349);
}