:root {
	font-size: 15px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.top{
    height: 100px;
    background-color: #333333;
}

.curved.upper {
    background-image: url("images/code.png");
}

.curved {
    background-color: #fff;
}

.curved.bottom {
    opacity: 100%;
}

.curved svg {
    display: block;
}

.middle {
    text-align: center;
    background-color: #0099FF;
}

.middle span {
    color: #222;
    text-decoration: underline;
    font-weight: bold;
    font-size: 55px;
}

.middle h1 {
    color: #222;
    font-size: 45px;
    font-weight: bold;
    margin-top: 0;
}

.middle span:hover {
    text-decoration: underline #fff;
}

.middle p {
    margin-top: 5px;
    color: #222;
    font-size: 20px;
    font-weight: bold;
}


.body1{
    position: relative;
    width: 100%;
    height: 50vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body1 h1{
    color: #222;
    font-size: 35px;
    font-weight: bold;
}

.body1 span{
    color: #5FAEFA;
    text-decoration: underline;
    font-weight: bold;
    font-size: 55px;
}

.body1 p{
    color: #222;
    font-size: 20px;
}

.devider{
    position: relative;
    min-height: 1vh;
    background-color: #333;
}

/* Footer */

.footer{
    background: #fff;
}
